.about-page {
  background-color: var(--honeydew-color);
  font-size: 1rem;
  padding: 100px 5%;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding-bottom: 4rem;
  align-items: start;
  margin: 0 auto;
}
.about-page .item {
  display: grid;
  gap: 2rem;
  max-width: 1200px;
}

.item-right {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
