nav {
  color: rgb(31, 31, 71);
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10000;
  box-shadow: 2px 1px 5px;
}
nav a {
  color: rgb(31, 31, 71);
}
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  height: 50px;
  color: white;
  background-color: rgb(31, 31, 71);
}
.top-nav .mail-cont .mail {
  margin-right: 3px;
}
.top-nav div {
  display: flex;
  align-items: center;
}

.top-nav .icons {
  display: flex;
}

.top-nav .icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  border: 1px solid white;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  background-color: rgba(256, 256, 256, 0.1);
  height: 80px;
}
.main-nav .links {
  display: flex;
  align-items: center;
}

.main-nav .links a {
  margin-left: 20px;
  font-size: 14px;
}

.heart {
  margin-top: 3px;
  margin-right: 3px;
}

.main-nav .links .donate {
  display: flex;
  align-items: center;
  border: 1px solid rgb(31, 31, 71);
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.main-nav .links .donate:hover {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(31, 31, 71);
}

.main-nav .right {
  display: none;
}

.close {
  font-size: 30px;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.show-cont {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100vh;
  left: 0;
  margin-left: 0px;
}

.show-close {
  position: fixed;
  width: 100%;
  z-index: 100000;
  background-color: transparent;
  color: white;
  height: 100vh;
  left: 0;
  margin-left: 0px;
}

.show {
  position: fixed;
  width: 70%;
  z-index: 100000;
  background-color: black;
  color: white;
  height: 100vh;
  left: 0;
  margin-left: 0px;
  transition: 0.5s ease-in-out;
}

.hide {
  position: fixed;
  margin-left: -300px;
}

.showall {
  display: none;
}
.drop-down__cont {
  /* display: inline-flex; */
  margin: 7% 0 0 0;
  /* padding-bottom: 4rem; */
  width: fit-content;
  text-align: center;
  position: relative;
  color: inherit;
  font-size: 14px;
  text-transform: capitalize;
}

.drop-down__cont li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.8rem;
  display: block;
  text-align: center;
}

.drop-down__item {
  margin-top: 0;
  position: absolute;
  margin-left: -50px;
  width: 0;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: transparent;
  padding: 0px;
  box-shadow: 2px 1px 5px;
  border-radius: 0 0 0.5rem 0.5rem;
}
.drop-down__item li {
  width: 100%;
  user-select: none;
  padding: 0;
}
.drop-down__item li a {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.drop-down__item li a:hover {
  background-color: rgb(184, 134, 11);
  color: white;
}
.drop-down__cont:hover .drop-down__item {
  width: 150px;
  opacity: 1;
  transition: var(--transition);
  user-select: all;
  pointer-events: all;
}

@media only screen and (max-width: 1175px) {
  .showall {
    display: block;
  }
  .main-nav .links {
    display: none;
  }
  .main-nav .right {
    display: block;
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .top-nav,
  .main-nav {
    padding: 0px 2%;
  }
  .top-nav .icons a {
    margin-left: 5px;
  }
  .top-nav .mail-cont {
    font-size: 12px;
  }
}

.mobile-links {
  text-align: center;
  margin-top: 15px;
  padding: 0px 20px;
}

.mobile-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  transition: 0.5s ease-in-out;
}
.mobile-links li a:hover {
  border-bottom: 1px solid white;
  background-color: rgba(256, 256, 256, 0.1);
}

.mobile-links .heart {
  margin-top: 2px;
}
