@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lexend Deca", sans-serif;
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --transition: all .5s ease-in-out;
  --white-color: #ffffff;
  --sky-blue-color:rgb(101, 101, 241);
  --honeydew-color:#f0fff0;
  --border-radius: 1rem;
  --transparent-black-bg: rgba(0, 0, 0, 0.788);
  --black-color: #000000;

}

ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: t;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.heading{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.heading h2{
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;


}
.heading h1{
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;


}

.heading > *{
  text-transform: capitalize;
  margin-bottom: 2rem;
  max-width: 1200px;

  
}

.heading p{
  font-size: 1rem;
  text-transform: unset;
  width: 100%;
  text-align: left;
}

.heading-left{
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  
  
}

.heading-left h2{
  font-size: 1.5rem;
}

.section{
  width: 100%;
  min-height: 50vh;
  padding: 8rem 2% 2rem;


}

.box{
  padding: 1rem 2%;
  width: 100%;
  box-shadow: 2px 2px 5px ;
  border-radius: 1rem;
  background-color: white;
}

.box  p{
  width: 100%;

}
.box  h2{
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;


}

.picBox{
  /* width: 350px; */
  max-width: 100%;
  /* height: 250px; */
  margin: 0 auto 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px;
  border-radius: var(--border-radius);
  background-color: var(--white-color);
}
.img-container{
  width: 100%;
  height: 100%;

}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.picBox .title{
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color:var(--transparent-black-bg);
color: var(--white-color);
padding: .5rem 1rem;
}
.picBox .title p{
text-shadow: 1px 2px 3px var(--black-color);
}

